@import "src/variables.scss";
@import 'include-media';

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-direction: column;
  animation: fadeIn 0.4s linear;
  margin-top: 50px;
  padding-bottom: 50px;
}

.location {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  color: rgb(69, 69, 69);

  mat-icon {
    height: auto;
    width: auto;
    font-size: 2rem;
    color: red;
  }
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
  gap: 50px;

  img {
    width: 150px;
    border-radius: 10px;
    box-shadow: -20px 20px $theme-blue;
  }
}

.text,
.contact-text {
  max-width: 500px;
  font-size: 1.1rem;
  line-height: 2rem;

  span {
    color: $theme-blue;
  }
}

.contact-text {
  padding: 0 20px;
}