<div class="contact">
  <div class="intro">
    <img src="../../../assets/headshot_one.jpeg" alt="headshot">
    <div class="text">
      My name is Roger and I am the man behind <span>Chubby Designs</span>. I started this business to not only help myself but other businesses as well!
    </div>
  </div>
  <div class="location">
    <mat-icon fontIcon="place"></mat-icon>Currently based in <b>San Antonio, Texas</b>
  </div>
  <div class="contact-text">
    If you would like a website or simply just have a question, fill out the form below. I'm all ears.
  </div>
  <contact-form></contact-form>
</div>