@import "src/variables.scss";
@import 'include-media';

@include media('<tablet') {
  .break {
    display: none;
  }
}

.fadeIn {
  visibility: visible !important;
  animation: fadeIn 0.5s linear;
}

.fadeInAndSlideInBottom {
  visibility: visible !important;
  animation: fadeInAndSlideInBottom 0.7s linear;
}

.cta {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  animation: fadeIn 0.3s linear;

  img {
    border-radius: 50px;

    @include media('<tablet') {
      border-radius: 0;
      height: 200px;
    }
  }

  @include media('<tablet') {
    margin-top: 0;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  button {
    height: 25px;
    max-width: 200px;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 20px;

    @include media('<tablet') {
      font-size: 1rem;
      max-width: 180px;
    }
  }
}

.title {
  color: black;
  font-size: 3rem;
  line-height: 4.6rem;
  font-weight: bold;

  span {
    color: $theme-blue;
  }

  @include media('<tablet') {
    font-size: 2.2rem;
    line-height: 3.5rem;
  }
}

.price {
  color: rgb(69, 69, 69);
  font-size: 1.3rem;
  line-height: 1.9rem;

  span {
    color: $theme-blue;
    font-weight: bold;
  }
}

.message {
  color: rgb(69, 69, 69);
  font-size: 1.2rem;
  line-height: 1.9rem;
  max-width: 450px;

  span {
    color: $theme-blue;
    font-weight: bold;
  }
}

.image-container {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  img {
    max-height: 400px;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.517);
    animation: fadeIn 0.3s linear;
  }

  @include media('<tablet') {
    padding: 0;
  }
}

.image-description {
  font-size: 0.8rem;
  text-align: right;
  font-weight: bold;

  @include media('<tablet') {
    text-align: center;
  }
}

.navigation {
  display: flex;;
  justify-content: center;
  gap: 50px;

  mat-icon {
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 2rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.mission-statement {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  line-height: 4.6rem;
  text-align: center;
  margin-top: 100px;
  height: 300px;
  position: relative;
  visibility: hidden;

  @include media('<desktop') {
    font-size: 2rem;
  }

  @include media('<tablet') {
    font-size: 1.7rem;
    line-height: 3rem;
    margin-top: 0;
  }
}

.facts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 50px;
  padding: 100px 20px;
  min-height: 270px;
  visibility: hidden;

  & .fact:first-child {
    img {
      width: 120px;

      @include media('<desktop') {
        width: 80px;
      }
    }
  }

  @include media('<tablet') {
    padding: 0 20px;
  }
}

.fact {
  display: flex;
  flex-direction: column;
  margin: auto;
  animation: fadeIn 1s linear;

  img {
    width: 180px;

    @include media('<desktop') {
      img {
        width: 100px;
      }
    }
  }
}

.fact-title {
  color: $theme-blue;
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 10px;

  @include media('<desktop') {
    font-size: 1.2rem;
  }
}

.fact-info {
  color: rgb(69, 69, 69);
  font-size: 1.2rem;
  line-height: 1.9rem;
  max-width: 400px;

  @include media('<desktop') {
    font-size: 1rem;
  }
}

.diamond {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  z-index: -1;
  opacity: 0.4;
}

.contact {
  visibility: hidden;

  @include media('<tablet') {
    padding-bottom: 30px;
  }
}